/**
*
* {{ properCase name }}
*
*/

import React from 'react';
// import styled from 'styled-components';

class {{ properCase name }} extends React.PureComponent { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      <div>
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {
  children: React.PropTypes.node,
};

export default {{ properCase name }};
