// import React from 'react';
// import { shallow } from 'enzyme';

// import {{ properCase name }} from './{{dashCase name}}';

describe('<{{ properCase name }} />', () => {
  it('Expect to have unit tests specified', () => {
    expect(true).toEqual(false);
  });
});
